<p id="notice"><%= notice %></p>

<p>
  <strong>Semester no:</strong>
  <%= @semester.semester_no %>
</p>

<%= link_to 'Edit', edit_semester_path(@semester) %> |
<%= link_to 'Back', semesters_path %>
